<h1>Stupid Coaching</h1>

<div>
<p><%= @toto %></p>
<p class="answer"><em> - You </em></p>
</div>
<br>
<div>
<p><%= @answer %></p>
<p class="answer"><em> - Your coach </em></p>
</div>
<p class="new_question"><%= link_to "Ask a new question", ask_path %></p>
